:root {
  --color-primary: #34c9b6;
  --color-secondary: #c7f2ff;
  --color-neutral: #757373;
}
.cardInfo {
  transition: all 0.3s linear;
}
.cardCircle {
  transition: all 0.3s linear;
}
.cardInfo:hover {
  background-color: var(--color-secondary);
}
.cardInfo:hover .cardCircle {
  background-color: white;
}


.footer-shape{
 clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 38%);

}
